@import '../node_modules/swiper/swiper-bundle.css';
@import '../node_modules/locomotive-scroll/src/locomotive-scroll.scss';

.c-scrollbar{
    background: #0000000c;
    border-left: 1px solid #000;
    width: 16px;
}

.c-scrollbar:hover {
    transform: none;
}

.c-scrollbar_thumb{
    background: #b9b9b9;
    opacity: 1;
    width: 16px;
    border-radius: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px
}

.c-scrollbar_thumb span{
    height: 1px;
    background: #e5e5e5;
    width: 12px;
}

.c-scrollbar_thumb span:last-of-type,
.c-scrollbar_thumb span:first-of-type{
    width: 10px;
}

html {
    scroll-behavior: initial;
}

html,
body {
  min-height: 100%;
  height: auto;
}

body{
    font-family: "Press Start 2P", system-ui;
    /*font-weight: 400;
    font-style: normal;*/
    color: #000;
    background: #fff;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: false;
    line-height: 1.65;
}

p {
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
font-weight: true;
line-height: 1.15;
margin: 0;
}

h1, .text-size-h1 {
    font-weight: 700;
    margin-top: 0;
    font-size: 4.21em;
    margin-bottom: 0.7em;
}

h2, .text-size-h2 { font-size: 3.16em; }

h3, .text-size-h3 { font-size: 2.37em; }

h4, .text-size-h4 { font-size: 1.78em; }

h5, .text-size-h5 { font-size: 1.33em; }

.text-caption { font-size: 0.75em; }

small, .text-small {
    font-size: 0.56em;
}

a{
    color: yellowgreen;
}

.nav{
    position: absolute;
    width: 100%;
    padding: 1em 10em;
    z-index: 10;
}

.nav a svg path{
    fill: black;
}

.nav a:hover svg path{
    fill: yellowgreen;
}

.vm-tv-screen-effect{
    transform: translateZ(0);
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    pointer-events: none;
    z-index: 2000;
}

.vm-tv-screen-effect::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
}

.vm-tv-screen-effect::before {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
}

.vm-tv-screen-effect::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}

.vm-tv-screen-effect::after {
    background: rgba(18, 16, 16, 0.1);
}

.loadscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;

    background-color: blue;

}

.loadscreen .loadbar{
    width: 100%;
    height: 32px;
    border: 2px solid greenyellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
}

.loadscreen .loadbar .container{
    width: 100%;
    height: 100%;
    position: relative;
}

.loadscreen .loadbar .fill{
    position: absolute;
    // width: 50%;
    height: 32px;
    background: greenyellow;
}

.loadscreen .counter{
    font-size: 40px;
    width: fit-content;
    line-height: 100%;
    position: absolute;
    color: greenyellow;
    z-index: 5;
    right: 0;
    bottom: 0;
    margin: 2em;
}

/* Fun stuff with a tv */
.tv-container{
    width: 250px;
    height: 200px;
    position: absolute;
}

.tv-container .mask{
    background: greenyellow;
    width: 66%;
    height: 57%;
    // margin-left: 2%;
    margin-left: 10%;
    margin-top: 9%;
    position: absolute;
    z-index: 3;
}

.tv-container .tv{
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/TV.png);
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
}

.wrapper{
    width: 100%;
}

.headline{
    width: 100%;
}

section{
    position: relative;
    display: flex;
    padding: 10em 2em;
}

section.hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 2em 2em;
    border-bottom: 1px solid #000;
}

section.about{
    border-bottom: 1px solid #000;
}

section.work{
    padding: 0 0;
    flex-direction: column;
}

section.work .headline{
    padding: 2em 2em;
    border-bottom: 1px solid #000;
}

section.work .scrollbar{
    padding: 2em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

section.work .swiper {
    width: 100%;
    /*height: 600px;*/
}

section.work .swiper .swiper-wrapper{
    height: 600px;
}

section.work .swiper .swiper-slide{
    border-right: 1px solid #000;
}

section.work .swiper .swiper-slide a{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: grab;
    flex-direction: column;
}

section.work .swiper .swiper-slide a .image{
    width: 100%;
    aspect-ratio: 0.7;
    background: black;
}

section.work .swiper .swiper-slide a .image img{
    width: 100%;
    height: 100%;
}

section.work .swiper .swiper-slide a .content{
    height: 100%;
    padding: 2em;
}

section.work .swiper .swiper-slide a .content p,
section.work .swiper .swiper-slide a .content .date{
    color: #000;
    display: inline-block;
    text-decoration:none !important;
}

section.work .swiper .scrollbar .swiper-scrollbar{
    position: relative;
    left: 0;
    width: 100%;
    bottom: unset;
    border-radius: 0;
    background: #0000000c;
    border: 1px solid #000;
    height: 16px;
}

section.work .swiper .scrollbar .swiper-scrollbar .swiper-scrollbar-drag{
    background: #b4b4b4;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px
}

section.work .swiper .scrollbar .swiper-scrollbar .swiper-scrollbar-drag span{
    width: 1px;
    background: #ffffff4d;
    height: 12px;
}

section.work .swiper .scrollbar .swiper-scrollbar .swiper-scrollbar-drag span:last-of-type,
section.work .swiper .scrollbar .swiper-scrollbar .swiper-scrollbar-drag span:first-of-type{
    height: 10px;
}

.contact{
    flex-direction: column;
}

.contact .heading h1{
    margin: 0px;
}

.contact .heading{
    margin-bottom: 2em;
}

.contact .content .card{
    margin-bottom: 1.25em;
}

.contact .content .card .title{
    font-size: 2em;
}

.contact .content .card .card-content h3{
    font-size: 1em;
}

section.blog{
    flex-direction: column;
    padding: 5em 20em;
}

section.blog .title{
    position: relative;
    margin-bottom: 2em;
}

img.border{
    border-bottom: 4px solid blue;
    border-right: 4px solid blue;
    box-shadow: 4px 4px 0px 0px greenyellow;
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body{
        font-size: 16px;
    }

    section{
        display: flex;
        padding: 5em 20em;
    }

    section.hero{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        padding: 0em 20em;
        border-bottom: 1px solid #000;
    }

    section.work .headline{
        padding: 3em 20em;
        border-bottom: 1px solid #000;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

@media (max-width: 576px) {
    .hero{
        padding-right: 0.15em !important;
        justify-content: flex-end !important;
    }

    .hero .headline h1{
        font-size: 38px;
        margin: 0;
    }

    .hero .headline h1:last-of-type{
        margin-bottom: 1em;
    }

    .hero .content h3{
        font-size: 15px;
    }
}